header {
  background-color: teal;
  margin: 0;
  text-align: center;
}

.title {
  margin: 0;
  padding: 15px;
}

.navbar {
  display: inline-block;
  z-index: 999;
  border: solid 1px black;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto 0 auto;
  vertical-align: top
}

.sticky-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.navbar > * {
  color: white;
  /* box-sizing: border-box; */
  display: inline-block;
  width: 20vw;
  border-left: solid 1px black;
  padding: 10px;
  text-decoration: none;
}

.active {
  color: red;
}

.navbar :first-child {
  border-left: none;
}
